@charset "UTF-8";

/* Loop Systems color palette
	#FFFFFF    rgb(255, 255, 255)  WHITE
	#666666    rgb(102, 102, 102)  DARK GREY
	#E1E25A    rgb(225, 226, 90)  GREEN
*/

/*general*/
html, body {
	margin: 0;
	padding: 0;
	background-color:#FFFFFF;
}

body {
	margin:0;
	padding:0;
	height:100%;
	min-height:100%;
	overflow:hidden;
}

div, h1, h2, p {
	margin: 0;
	padding: 0;
}

#container {
	position:relative;
	min-height:100%;
	overflow:auto;
}

#Footer {
	background-color:#E1E25A;
	bottom:0em;
	clear:both;
	position:fixed;
	padding-bottom:0.5em;
	padding-top:0.5em;
}

#left_menu {
	padding-bottom:2em;
}

#ourwork {
	padding-bottom:2em;
}

#Nav {
	padding-top:0.3em;
	padding-bottom:0.3em;
	background-color:#666666;
	min-height:100%;
}

#Header {
	padding-top:2.5em;
	padding-bottom:1.5em;
	background-color:#FFFFFF;
	min-height:100%;
}

#Agenda {
	padding-top:1em;
	padding-bottom:0em;
	background-color:#FFFFFF;
	min-height:100%;
}

#Menu {
	padding-top:1em;
	padding-bottom:1em;
	padding-left:3em;
	padding-right:3em;
	background-color:#FFFFFF;
	min-height:100%;
}

#Images {
	position:relative;
	background-color:#FFFFFF;
	padding-bottom:4em;
	display:block;
	max-width:100%;
}

article {
	display:block;
}

/*font styles*/
body {
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.99em;
	line-height:none;
	color:#666666;
	padding-bottom:1em;
}

.p_italic {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.97em;
	line-height:none;
	color:#666666;
	font-style:italic;
	padding-bottom:0em;
}

.p_faq_q {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.97em;
	line-height:none;
	color:#666666;
	font-style:italic;
	border:1px; 
	border-style:solid; 
	border-color:#CCC; 
	padding: 0.5em;
	border-bottom:none;
}

.p_faq_a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.97em;
	line-height:none;
	color:#666666;
	border:1px; 
	border-bottom-style:dotted;
	border-top-style:solid;
	border-right-style:dotted;
	border-left-style:dotted;
	border-top-color:#CCC; 
	border-bottom-color:#CCC;
	border-right-color:#CCC;
	border-left-color:#CCC;
	padding: 0.5em;
}

.p_nav {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.1em;
	line-height:none;
	color:#666666;
	padding-bottom:0em;
}

.p_footer {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.8em;
	font-style:italic;
	color:#666666;
	font-style:italic;
	font-weight:normal;
}

.p_faq_q {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.97em;
	line-height:none;
	color:#666666;
	font-style:italic;
	border:1px; 
	border-style:solid; 
	border-color:#CCC; 
	padding: 0.5em;
	border-bottom:none;
}

.p_faq_a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.97em;
	line-height:none;
	color:#666666;
	border:1px; 
	border-bottom-style:dotted;
	border-top-style:solid;
	border-right-style:dotted;
	border-left-style:dotted;
	border-top-color:#CCC; 
	border-bottom-color:#CCC;
	border-right-color:#CCC;
	border-left-color:#CCC;
	padding: 0.5em;
}

.p_what {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.97em;
	line-height:none;
	color:#666666;
	font-style:italic;
	border:1px; 
	border-style:dotted; 
	border-color:#CCC; 
	padding: 0.5em;
}

.p_this {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.97em;
	line-height:none;
	color:#666666;
	font-weight:bold;
	border:1px; 
	border-style:dotted; 
	border-color:#CCC; 
	padding: 0.5em;
}

.p_slide {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.97em;
	line-height:none;
	color:#666666;
	font-style:italic;
	padding-bottom:0em;
	padding-top:1em;
	padding-right:5em;
	padding-left:5em;
	min-height:100%;
}

/*header styles*/
h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.2em;
	color:#666666;
	line-height:2em;
	text-align:center;
	padding-bottom:1em;
}

h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.3em;
	color:#666666;
	text-align:center;
	padding-bottom:1em;
}

h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.1em;
	color:#666666;
	font-style:italic;
}

/*link styles*/
a.nav:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	line-height:none;
	color:#FFFFFF;
	text-decoration:none;
	display: inline-block;
	padding: 8px 15px;
}

a.nav:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	line-height:none;
	color:#FFFFFF;
	text-decoration:none;
	display: inline-block;
	padding: 8px 15px;
}

a.nav:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	line-height:none;
	color:#E1E25A;
	text-decoration:none;
	display: inline-block;
	padding: 8px 15px;
}

a.nav:active {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	line-height:none;
	color:#E1E25A;
	text-decoration:none;
	display: inline-block;
	padding: 8px 15px;
}

a:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	line-height:none;
	color:#666666;
	text-decoration:none;
}

a:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	line-height:none;
	color:#666666;
	text-decoration:underline;
}

a:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	line-height:none;
	color:#E1E25A;
	text-decoration:none;
}

a:active {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	line-height:none;
	color:#E1E25A;
	text-decoration:underline;
}

/*other properties*/
.map {
	padding-bottom:5em;
}
